<!--Reference model (1st Project name, 2nd Folder and 3rd class name-->
@model Intro.Models.Person


@{
    ViewBag.Title = "Index";
}

<h2>ASP.NET and MVC</h2>
<p>Course</p>

<br />
<br />

<!-- new form with POST method-->
<!--<form action="Home/List" method="POST">-->
<!--HomeControlle Home/List-->

<!--start form post-->
@using (Html.BeginForm("List", "Home", FormMethod.Post))
{

    <fieldset>
        <legend>POST Method</legend>

        <!--PersonId-->
        <div>
            <!--<label for="PersonId">Identification: </label>-->
            @Html.LabelFor(x => x.PersonId)
        </div>

        <div>
            <!--<input type="number" value="@Model.PersonId" name="PersonId" />-->
            @Html.EditorFor(x=>x.PersonId)
        </div>

        <!--Name-->
        <div>
            <!--<label for="Name">Name: </label>-->
            @Html.LabelFor(x => x.Name)
        </div>

        <div>
            <!--<input type="text" value="@Model.Name" name="Name" />-->
            @Html.EditorFor(x=>x.Name)
        </div>

        <!--Type-->
        <div>
            <!--<label for="Type">Category: </label>-->
            @Html.LabelFor(x => x.Type)
        </div>

        <div>
            <!--<input type="text" value="@Model.Type" name="Type" />-->
            @Html.EditorFor(x=>x.Type)
        </div>

        <!-- button submit action Home/List HomeController-->
        <p><input type="submit" value="Send" /></p>

    </fieldset>

}
<!--end form-->
<!--</form>-->
<!-- new form with GET method-->
<!--<form action="Home/List" method="GET">-->
<!--HomeControlle Home/List-->
<!--start form get-->

@using (Html.BeginForm("List", "Home", FormMethod.Get)){



<fieldset>
    <legend>GET Method</legend>

    <!--PersonId-->
    <div>
        @Html.LabelFor(x => x.PersonId)
    </div>

    <div>
        @Html.EditorFor(x => x.PersonId)
    </div>

    <!--Name-->
    <div>
        @Html.LabelFor(x => x.Name)
    </div>

    <div>
        @Html.EditorFor(x => x.Name)
    </div>

    <!--Type-->
    <div>
        @Html.LabelFor(x => x.Type)
    </div>

    <div>
        @Html.EditorFor(x => x.Type)
    </div>

    <!-- button submit action Home/List HomeController-->
    <p><input type="submit" value="Send" /></p>

</fieldset>

}
<!--end form get-->

<!--</form>-->
<!-- start comment
Typed view
<p> @Model.PersonId </p>
<p> @Model.Name </p>
<p> @Model.Type </p>

Example with ViewData[ ] HomeController.cs
<p>ViewData:</p>
<p> @ViewData["PersonId"] </p>
<p> @ViewData["Name"] </p>
<p> @ViewData["Type"] </p>

Example with ViewBag HomeController.cs
<p>ViewBag:</p>
<p> @ViewBag.id </p>
<p> @ViewBag.name </p>
<p> @ViewBag.type </p>
end comment -->
