
@{
    ViewBag.Title = "Index";
}

<h2>ASP.NET and MVC</h2>
<p>Course</p>

<br />
<br />

<!--Example with ViewData[ ] HomeController.cs-->
<p>ViewData:</p>
<p> @ViewData["PersonId"] </p>
<p> @ViewData["Name"] </p>
<p> @ViewData["Type"] </p>

<!--Example with ViewBag HomeController.cs -->
<p>ViewBag:</p>
<p> @ViewBag.id </p>
<p> @ViewBag.name </p>
<p> @ViewBag.type </p>