<!--reference to class Person-->
@model Intro.Models.Person

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<!--Person ID-->
<div>
    <!--<b>ID</b>-->
    <b>@Html.LabelFor(x=>x.PersonId)</b>
</div>
<div>
    <!--ViewData["PersonId"];-->
    @Model.PersonId
</div>

<!--Name-->
<div>
    <!--<b>Name</b>-->
    <b>@Html.LabelFor(x => x.Name)</b>
</div>
<div>
    <!--ViewData["Name"];-->
    @Model.Name
</div>

<!--Type-->
<div>
    <!--<b>Type</b>-->
    <b>@Html.LabelFor(x => x.Type)</b>
</div>
<div>
    <!--ViewData["Type"];-->
    @Model.Type
</div>

<!--return-->

<!--<a href="~/"> Return </a>-->
@Html.ActionLink("Return", "Index", "Home");