@model Intro.Models.User

@{
    ViewBag.Title = "User";
}

<h2>User Validation</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true) //form validations
<fieldset>
    <legend>User Infos</legend>

    <!--name-->
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <!--observation-->
    <div class="editor-label">
        @Html.LabelFor(model => model.Observation)
    </div>

    <div class="editor-label">
        @Html.TextAreaFor(model => model.Observation)
        @Html.ValidationMessageFor(model => model.Observation)
    </div>

    <!--age-->
    <div class="editor-label">
        @Html.LabelFor(model => model.Age)
    </div>

    <div class="editor-label">
        @Html.TextAreaFor(model => model.Age)
        @Html.ValidationMessageFor(model => model.Age)
    </div>

    <!--mail-->
    <div class="editor-label">
        @Html.LabelFor(model => model.Mail)
    </div>

    <div class="editor-label">
        @Html.TextAreaFor(model => model.Mail)
        @Html.ValidationMessageFor(model => model.Mail)
    </div>

</fieldset>
}

